.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #F2F2F2;
  padding-top: 140px;
  padding-left: 70px;
  padding-right: calc(50% - 350px - 70px);
  box-sizing: border-box;

}

@media screen and (max-width: 1120px) {
  .form {
    padding: 60px 40px;
  }
}


@media screen and (max-width: 767px) {
  .form {
    padding-top: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 484px) {
  .form {
    padding: 50px 20px;
  }
}
