.form {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  width: 100%;
  padding-left: 70px;
}

@media screen and (max-width: 1023px) {
  .form{
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .form{
    padding: 0;
    margin: 40px auto;
  }
}
