.form__btn {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 190px;
  color: #ffffff;
  background-color: black;
  appearance: none;
  border: 0;
  padding: 5px;
}

.form__btn:hover {
  background: #293DAD;
  transition: all 0.6s ease;
}

.form__btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
