.form__text {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
  max-width: 350px;
  width: 100%;
  color: black;
  width: 100%;
  padding: 0 0 0 5px;
  box-sizing: border-box;
  border: none;
  resize: none;
  overflow: auto;
  min-height: 100px;
  margin-top: 20px;
}

.form__text::-webkit-input-placeholder {
  color: black;
  font-weight: 500;
}
.form__text::-moz-placeholder {
  color: black;
  font-weight: 500;
}
.form__text::-ms-input-placeholder {
  color: black;
  font-weight: 500;
}
.form__text::placeholder {
  color: black;
  font-weight: 500;
}
