.header {
  padding: 50px 70px 0;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content)) 1fr;
}

.header__item {
  padding-right: 35px;
}

.header__item_right-side {
  padding-right: 0;
  justify-self: right;
}

.header__link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #010101;
  transition: all 0.6s ease;
}

.header__link:hover {
  color:  #293DAD;
}

.issue {
  padding: 90px 70px 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.issue__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.issue__subtitle {
  font-size: 12px;
  font-weight: 500;
  color: #FED0AC;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.issue__title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  max-width: 520px;
}

.issue__image {
  max-width: 360px;
  justify-self: center;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards__image {
  max-width: 100%;
}
